* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --outfit: "Outfit", sans-serif;

    /* Colors */
    --gold: #FFD700;
    --black: #0a0a0a;
    --gray: #151515;
    --green: #33FF57;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--outfit);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 10rem;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    transition: 0.4s;
}

.primary-btn {
    width: 20rem;
    padding: 1rem;
    align-items: center;
    border-radius: 20px;
    background: var(--gold);
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: capitalize;
}

.primary-btn:hover {
    background: none;
    border: 1.5px solid var(--gold);
    color: var(--gold);
}

.border-btn {
    width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--gold);
    color: var(--gold);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
}

.border-btn:hover {
    background: var(--gold);
    color: #fff;
}


/* Header */
.header {
    padding: 2rem 15rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.4s ease-in-out;
}

.header.active {
    padding: 1.5rem 15rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    background: #fff;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header .row .col {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.header.active .logo {
    color: #222;
}

.header .logo span {
    color: var(--gold);
}

.header .navbar .navlist {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header .navbar .navlist .navitem .navlink {
    position: relative;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    transform: 0.4s;
}

.header.active .navbar .navlist .navitem .navlink {
    color: #222;
}

.header .navbar .navlist .navitem .navlink::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--gold);
    display: none;
}

.header .navbar .navlist .navitem .navlink.active {
    color: var(--gold);
}

.header .navbar .navlist .navitem .navlink.active::before {
    display: inline-block;
}

.header .navbar .navlist .navitem .navlink:hover {
    color: var(--gold);
}

.header .menu-bar {
    display: none;
}

.header .close {
    display: none;
}


/* Home */
.home {
    width: 100%;
    /* height: 700px; */
    height: 700pt;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content .text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.home .content .text h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.home .content .text h1 span {
    color: var(--gold);
}

.home .content .text p {
    margin: 1.5rem 0;
    font-size: 1.7rem;
    color: #f2f2f2;
    line-height: 2.5rem;
    font-weight: 400;
}




/* Grid Layout */
.grid {
    display: grid;
    grid-gap: 2rem;
}

.grid-col-2 {
    grid-template-columns: repeat(2, auto);
}

.grid-col-3 {
    grid-template-columns: repeat(3, auto);
}

.grid-col-4 {
    grid-template-columns: repeat(4, auto);
}


.justify-content-center {
    justify-content: center;
}

.aligin-item-center {
    align-items: center;
}


/* Section */
.section {
    padding: 100px;
}

.section .title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.section .title small {
    font-size: 1.5rem;
    color: var(--gold);
    font-weight: 500;
    text-transform: uppercase;
}

.section .title h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #222;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.section .content {
    margin: 10rem auto;
}



/* Why Choice us */
.why-us {
    padding: 50px;
    background: var(--black);
}

.why-us .title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.why-us .title small {
    font-size: 1.7rem;
    color: var(--gold);
    font-weight: 500;
    text-transform: uppercase;
}

.why-us .title h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.why-us .content {
    margin: 5rem 0;
}

.why-us .content .card {
    width: 32rem;
    height: auto;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.why-us .content .card .card-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--gold);
    transition: 0.4s;
}

.why-us .content .card:hover .card-icon {
    background: var(--gold);
    color: #fff;
}

.why-us .content .card .card-text {
    text-align: center;
    margin: 1.5rem 0;
}

.why-us .content .card .card-text span.heading {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.why-us .content .card .card-text p {
    margin: 1.5rem 0;
    font-size: 1.7rem;
    color: gray;
    font-weight: 400;
    line-height: 2.5rem;
}




/* Classes section */
.classes {
    background: var(--gray);
}

.classes .title h2 {
    color: #fff;
}

.classes .content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    grid-gap: 2rem;
}

.classes .content .card {
    width: 35rem;
    height: auto;
    position: relative;
    background: var(--black);
}

.classes .content .card .card-image {
    width: 100%;
    height: 25rem;
    position: relative;
    border-bottom: 5px solid var(--gray);
}

.classes .content .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.classes .content .card .card-image span {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.classes .content .card .card-image span a {
    color: var(--green);
}

.classes .content .card .card-text {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.classes .content .card .card-text .group small {
    display: block;
    font-size: 1.5rem;
    color: var(--gold);
    font-weight: 500;
    text-transform: uppercase;
}

.classes .content .card .card-text .group .heading {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.classes .content .card .card-text .btn {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5px;
    background: var(--gray);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
}

.classes .content .card .card-text .btn:hover {
    background: var(--gold);
    color: #fff;
}

.classes .content .card:nth-child(4) {
    grid-column: 1/3;
    width: 100%;
}

.classes .content .card:nth-child(4) .card-image {
    height: 35rem;
}

.classes .content .card:nth-child(5) .card-image {
    height: 35rem;
}



/* Parallax Section */
.parallax {
    width: 100%;
    height: 500px;
    padding: 50px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.6)), url('../images/parallax.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax .text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.parallax .text h2 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.parallax .text p {
    margin: 1.5rem 0;
    color: gray;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
}

.parallax .text .btn {
    width: auto;
}



/* Plan Section */
.plan {
    background: var(--gray);
}

.plan .title h2 {
    color: #fff;
}

.plan .content .card {
    width: 35rem;
    padding: 1rem;
    height: auto;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    transition: 0.4s;
}

.plan .content .card:hover {
    cursor: pointer;
    transform: skew(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    background: #fff;
}

.plan .content .card .card-header {
    width: 100%;
    text-align: center;
}

.plan .content .card .card-header .heading {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    transition: 0.4s;
}

.plan .content .card:hover .card-header .heading {
    color: #222;
}

.plan .content .card .card-header small {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: gray;
    margin: 1.5rem 0;
}

.plan .content .card .price {
    font-size: 4rem;
    font-weight: 500;
    color: var(--gold);
    text-align: center;
    margin: 4rem 0;
    display: block;
}

.plan .content .card ul {
    margin: 1.5rem 0;
}

.plan .content .card ul li {
    font-size: 1.7rem;
    font-weight: 500;
    color: gray;
    margin: 1.5rem 0;
    text-align: center;
    transition: 0.4s;
}

.plan .content .card:hover ul li {
    color: #222;
}

.plan .content .card .btn {
    width: 100%;
    padding: 1rem;
    background: #333;
    font-size: 1.7rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 2rem 0;
}

.plan .content .card:hover .btn {
    background: var(--gold);
    color: #fff;
}


/* Photos Section */
.photos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.photos .card {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.photos .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photos .card .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}

.photos .card .overlay span {
    font-size: 5rem;
    color: var(--gold);
    font-weight: 500;
    cursor: pointer;
}

.photos .card:hover .overlay {
    bottom: 0;
    opacity: 1;
}


/* Team Section */
.team {
    padding: 100px;
    background: var(--gray);
}

.team .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.team .title .text small {
    font-size: 1.7rem;
    color: var(--gold);
    font-weight: 500;
    text-transform: uppercase;
}

.team .title .text h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1.5rem 0;
}

.team .content {
    margin: 10rem 0;
    display: flex;
    justify-content: center;
}

.team .content .card {
    width: 35rem;
    height: 40rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.team .content .card .card-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.team .content .card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .content .card .card-image .link {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}

.team .content .card .card-image .link a {
    color: var(--green);
}

.team .content .card .card-image .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 12rem;
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--gray);
    /* transform: skewY(-2deg); */
    opacity: 0;
    transition: 0.4s;
}

.team .content .card:hover .card-image .overlay {
    bottom: 0;
    opacity: 1;
}

.team .content .card .card-image .overlay .heading {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}

.team .content .card .card-image .overlay small {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gold);
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.team .swiper .swiper-button-prev,
.team .swiper .swiper-button-next {
    color: var(--gold);
}











/* Responsive */
@media (max-width:1300px) {
    .grid-col-4 {
        grid-template-columns: repeat(2, auto);
    }

    .why-us .content .card {
        width: 100%;
    }

    .parallax .text {
        width: 60%;
    }
}

@media (max-width:1200px) {
    .header {
        padding: 2rem 10rem;
    }

    .header.active {
        padding: 1.5rem 10rem;
    }

    .home .content .text {
        width: 70%;
    }

    .classes .content {
        grid-template-columns: repeat(2, 50%);
    }

    .classes .content .card {
        width: 100%;
    }

    .classes .content .card .card-image {
        height: 35rem;
    }

    .classes .content .card:nth-child(4) {
        grid-column: 2;
        width: 100%;
    }

    .classes .content .card:nth-child(5) {
        grid-column: 1/3;
        width: 100%;
    }

    .classes .content .card:nth-child(5) .card-image {
        height: 40rem;
    }

    .parallax .text {
        width: 80%;
    }

    .grid-col-3 {
        grid-template-columns: repeat(2, auto);
    }

    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 8rem;
    }

    .header.active {
        padding: 1.5rem 8rem;
    }

    .header .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--gold);
        z-index: 1010;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }

    .header .navbar.active {
        left: 0;
        opacity: 1;
    }

    .header .navbar .navlist {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
    }

    .header .navbar .navlist .navitem {
        margin: 1.5rem 0;
    }

    .header .navbar .navlist .navitem .navlink {
        font-size: 2.5rem;
        color: #222;
    }

    .header .close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        color: tomato;
        font-size: 4rem;
        cursor: pointer;
        display: inline-block;
        z-index: 1020;
    }

    .header .menu-bar {
        display: inline-block;
        font-size: 2.7rem;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }

    .header.active .menu-bar {
        color: #222;
    }

    .home {
        height: 800px;
        /* height: 1300px; */
    }

    .why-us .title {
        width: 60%;
    }

    .why-us .content .card {
        width: 100%;
    }
}


@media (max-width:768px) {
    html {
        font-size: 58.5%;
    }

    .header {
        padding: 2rem 5rem;
    }

    .header.active {
        padding: 1.5rem 5rem;
    }

    .home {
        padding: 50px;
    }

    .grid-col-4 {
        grid-template-columns: repeat(1, 100%);
    }

    .why-us .content .card {
        width: 100%;
    }

    .why-us .title {
        width: 80%;
    }

    .section {
        padding: 50px;
    }

    .section .title {
        width: 60%;
    }

    .classes .content {
        grid-template-columns: repeat(1, 100%);
    }

    .classes .content .card:nth-child(4) {
        grid-column: 1;
        width: 100%;
    }

    .classes .content .card:nth-child(5) {
        grid-column: 1;
        width: 100%;
    }

    .parallax .text {
        width: 100%;
    }

    .grid-col-3 {
        grid-template-columns: repeat(1, auto);
    }

    .photos {
        grid-template-columns: repeat(2, 1fr);
    }

    .team {
        padding: 50px;
    }
}

@media (max-width:600px) {
    html {
        font-size: 55.5%;
    }

    .section .title {
        width: 80%;
    }
}

@media (max-width:500px) {
    .header {
        padding: 2rem 3rem;
    }

    .header.active {
        padding: 1.5rem 3rem;
    }

    .header .navbar .navlist {
        width: 100%;
    }

    .home {
        padding: 30px;
    }

    .why-us {
        padding: 30px;
    }

    .why-us .title {
        width: 100%;
    }

    .section {
        padding: 30px;
    }

    .section .title {
        width: 100%;
    }

    .plan .content .card {
        width: 100%;
    }

    .photos {
        grid-template-columns: repeat(1, 1fr);
    }

    .team {
        padding: 30px;
    }

    .team .title {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:360px) {
    .home {
        height: 700px;
    }

    .home .content .text h1 {
        font-size: 4rem;
    }

    .parallax {
        height: auto;
    }

    .parallax .text h2 {
        font-size: 3rem;
    }
}